!!!
%html{:lang => "en"}
	%head
		%link{:href => "https://fonts.googleapis.com/css?family=Didact+Gothic|Simonetta|Abel", :rel => "stylesheet", :type => "text/css"}/
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		/ The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		%title The best getaway
		/ Bootstrap
		%link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
		%link{:href => "css/my.css", :rel => "stylesheet"}/
		/ HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		/ WARNING: Respond.js doesn't work if you view the page via file://
		/[if lt IE 9]
		%script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
		%script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
	%body
		%section#mainheader
			.container-fluid.text-center
				%header
					%h1
						have the best
						%span.getaway getaway
					%p
						and dont worry, we have it 
						%span.all all
						figured out
		%section#wheretogo
			.container
				.row
					.col-xs-12.col-sm-12.col-lg-12
						%img.img-responsive{:alt => "Marmaris harbour", :src => "images/marmaris004.jpg", :align => "center"}/
						%h1.questions-white1 Where to go?
						%h2.answers-white1
							%a{:href => "http://www.marmaris.org/", :target => "_blank"}
								Marmaris
								%br
								Turkey
				.row
					.col-xs-6.col-sm-6.col-lg-6
						%p.paragraph-text
							A gorgeous backdrop of 
							%strong pine-clad mountains 
							looms behind the seaside resort of Marmaris in southwest Turkey. It’s known for 
							%strong buzzing nightlife 
							on Bar Street, which is home to 
							%strong open-air clubs 
							and 
							%strong music venues.
							Marmaris offers an abundance of fast food restaurants, the restored 
							%strong castle of Suleyman the Magnificent 
							and an appealing 
							%strong cobblestoned old quarter.
					.col-xs-6.col-sm-6.col-lg-6
						%p.paragraph-text
							The town also makes a good base for 
							%strong gület cruises, diving 
							in pristine waters and visiting the 
							%strong Greek isle of Rhodes.
							Outside the busy town, 
							%strong coves 
							and 
							%strong bays 
							of the
							%strong Datça Peninsula 
							make lovely daytrip destinations for those travelling 
							%strong by boat.
							It is also a centre for 
							%strong sailing 
							and 
							%strong diving, 
							possessing two major and several smaller 
							%strong marinas.
				.row
					.col-xs-4.col-sm-4.col-lg-4
						%img.img-responsive{:src => "images/Marmaris_castle.jpg", :alt => "Marmaris castle"}/
						%p.picture-descrip The Marmaris Castle is one of the few castles in Turkey that also possesses a museum
					.col-xs-4.col-sm-4.col-lg-4
						%img.img-responsive{:src => "images/Marmaris_yacht.jpg", :alt => "Marmaris yachts"}/
						%p.picture-descrip Fantastic views from small boats to yachts worth a fortune
					.col-xs-4.col-sm-4.col-lg-4
						%img.img-responsive{:src => "images/Marmaris_decorations.jpg", :alt => "Marmaris holidays"}/
						%p.picture-descrip National holiday decorations in Marmaris
				%hr{:size => "10"}/
		%section#wheretostay
			.container
				.row
					.col-xs-12.col-sm-12.col-lg-12
						%img.img-responsive{:alt => "D-hotel maris", :src => "images/dhotel01.jpg", :align => "center"}/
						%h1.questions-white2 Where to stay?
						%h2.answers-white2 
							%a{:href => "http://www.dhotel.com.tr/en/home.aspx", :target => "_blank"}
								D-Hotel Maris
				.row
					.col-xs-6.col-sm-6.col-lg-6
						%p.paragraph-text
							A gorgeous backdrop of 
							%strong pine-clad mountains 
							looms behind the seaside resort of Marmaris in southwest Turkey. It’s known for 
							%strong buzzing nightlife 
							on Bar Street, which is home to 
							%strong open-air clubs 
							and 
							%strong music venues.
							Marmaris offers an abundance of fast food restaurants, the restored 
							%strong castle of Suleyman the Magnificent 
							and an appealing 
							%strong cobblestoned old quarter.
					.col-xs-6.col-sm-6.col-lg-6
						%p.paragraph-text
							The town also makes a good base for 
							%strong gület cruises, diving 
							in pristine waters and visiting the 
							%strong Greek isle of Rhodes.
							Outside the busy town, 
							%strong coves 
							and 
							%strong bays 
							of the
							%strong Datça Peninsula 
							make lovely daytrip destinations for those travelling 
							%strong by boat.
							It is also a centre for 
							%strong sailing 
							and 
							%strong diving, 
							possessing two major and several smaller 
							%strong marinas.
				.row
					.col-xs-4.col-sm-4.col-lg-4
						%img.img-responsive{:src => "images/dhotel02.jpg", :alt => "Spa"}/
						%p.picture-descrip There is a spa offering a range of treatments, Turkish bath, Hammam, sauna, and much more
					.col-xs-4.col-sm-4.col-lg-4
						%img.img-responsive{:src => "images/dhotel03.jpg", :alt => "Water skiing"}/
						%p.picture-descrip Watersports enthusiasts will love the Sail and Surf centre, Water Ski and Wake Board Centre
					.col-xs-4.col-sm-4.col-lg-4
						%img.img-responsive{:src => "images/dhotel04.jpg", :alt => "Outdoor pools"}/
						%p.picture-descrip Spectacular outdoor pools
				%hr
		%section#whattoeat
			.container
				.row
					.col-xs-12.col-sm-12.col-lg-12
						%img.img-responsive{:alt => "Dessert", :src => "images/eat01.jpg", :align => "center"}/
						%h1.question-black What to eat?
						%h2.answer-black 
							Magnificent 5 
							%br
							course meal
		%section#firstmeal
			.container
				.row
					%h3.recipe-continuing Start with
				.row
					%a{:href => "http://www.jamieoliver.com/recipes/vegetable-recipes/squash-sage-chestnut-rolls/#SwiebxySKXw1Mrjp.97", :target => "_blank"}
						%h4.recipe-title Squash, sage & chestnut rolls
				%hr
				.row
					.col-sm-6
						%p.aboutrecipe With chilli, garlic, chestnuts and Parmesan cheese
						%hr/
						.row.text-center
							.col-xs-4
								%p.nutrition-table
									192
									%br
									calories
							.col-xs-4
								%p.nutrition-table
									11g
									%br
									fat
							.col-xs-4
								%p.nutrition-table
									4,2g
									%br
									saturates
							.col-xs-4
								%p.nutrition-table
									5,5g
									%br
									protein
							.col-xs-4
								%p.nutrition-table
									19,2g
									%br
									carbs
							.col-xs-4
								%p.nutrition-table
									4,7g
									%br
									sugar
							.col-xs-4
								%p.nutrition-table
									0,7g
									%br
									salt
							.col-xs-4
								%p.nutrition-table
									2g
									%br
									fibre
						%hr/
						%p.recipereview “These squash, sage & chestnut rolls are packed with goodness and flavour”
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						%img.img-responsive{:alt => "Starters", :src => "images/starters.jpg", :align => "center"}/
				%hr
		%section#secondmeal
			.container
				.row
					%h3.recipe-continuing Continue with amazing
				.row
					%a{:href => "http://www.jamieoliver.com/recipes/seafood-recipes/paella/#DKm4vCbO5RsQULvl.97", :target => "_blank"}
						%h4.recipe-title Paella
				%hr
				.row
					.col-sm-6
						%p.aboutrecipe With chicken, chorizo, streaky bacon, onion, smoked paprika, rice and king prawns
						%hr/
						.row.text-center
							.col-xs-4
								%p.nutrition-table
									192
									%br
									calories
							.col-xs-4
								%p.nutrition-table
									11g
									%br
									fat
							.col-xs-4
								%p.nutrition-table
									4,2g
									%br
									saturates
							.col-xs-4
								%p.nutrition-table
									5,5g
									%br
									protein
							.col-xs-4
								%p.nutrition-table
									19,2g
									%br
									carbs
							.col-xs-4
								%p.nutrition-table
									4,7g
									%br
									sugar
							.col-xs-4
								%p.nutrition-table
									0,7g
									%br
									salt
							.col-xs-4
								%p.nutrition-table
									2g
									%br
									fibre
						%hr/
						%p.recipereview “This tasty paella has a bit of everything! Wonderfully comforting, flavoursome and colourful”
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						%img.img-responsive{:alt => "Paella", :src => "images/paella.jpg", :align => "right"}/
				%hr/
		%section#drinks
			.container.text-center
				.row
					.col-xs-12.col-sm-12.col-lg-12
						%h2.recipe-continuing Enjoy these drinks alongside your meal
				.row
					.col-xs-8.col-xs-push-2.col-sm-push-0.col-sm-6.col-lg-3
						%img.img-responsive{:src => "images/wickedchampagnecocktail.jpg", :alt => "Champagne"}/
						%a{:href => "http://www.jamieoliver.com/recipes/recipe/wicked-champagne-cocktail/#XItsGrGjhIrFyVLu.97", :target => "_blank"}
							%p.aboutrecipe Wicked Champagne cocktail
					.col-xs-8.col-xs-push-2.col-sm-push-0.col-sm-6.col-lg-3
						%img.img-responsive{:src => "images/margarita.jpg", :alt => "Margarita"}/
						%a{:href => "http://www.jamieoliver.com/recipes/uncategorised-recipes/margarita/", :target => "_blank"}
							%p.aboutrecipe Margarita
					.col-xs-8.col-xs-push-2.col-sm-push-0.col-sm-6.col-lg-3
						%img.img-responsive{:src => "images/berryginfizz.jpg", :alt => "Gin and Fizz"}/
						%a{:href => "http://www.jamieoliver.com/recipes/gin-recipes/berry-rosemary-juniper-gin-fizz/#WyOMLZXSKPKWDFVc.97", :target => "_blank"}
							%p.aboutrecipe Berry & rosemary juniper gin fizz
					.col-xs-8.col-xs-push-2.col-sm-push-0.col-sm-6.col-lg-3
						%img.img-responsive{:src => "images/martini.jpg", :alt => "Martini"}/
						%a{:href => "http://www.jamieoliver.com/recipes/gin-recipes/classic-wet-martini/#OcoGlZMslMRPRud5.97", :target => "_blank"}
							%p.aboutrecipe Classic wet martini
				%hr/
		%section#thirdmeal
			.container
				.row
					%h3.recipe-continuing End this magnificent meal with
				.row
					%a{:href => "http://www.jamieoliver.com/recipes/fruit-recipes/queen-victoria-sponge/#ztdgLsHH4I8PTx0y.97", :target => "_blank"}
						%h4.recipe-title Queen Victoria sponge
				%hr
				.row
					.col-sm-6
						%p.aboutrecipe With raspberry jam and vanilla cream
						%hr/
						.row.text-center
							.col-xs-4
								%p.nutrition-table
									192
									%br
									calories
							.col-xs-4
								%p.nutrition-table
									11g
									%br
									fat
							.col-xs-4
								%p.nutrition-table
									4,2g
									%br
									saturates
							.col-xs-4
								%p.nutrition-table
									5,5g
									%br
									protein
							.col-xs-4
								%p.nutrition-table
									19,2g
									%br
									carbs
							.col-xs-4
								%p.nutrition-table
									4,7g
									%br
									sugar
							.col-xs-4
								%p.nutrition-table
									0,7g
									%br
									salt
							.col-xs-4
								%p.nutrition-table
									2g
									%br
									fibre
						%hr/
						%p.recipereview “This classic afternoon tea Victoria sponge recipe is about precision sponge making, wonderful jam and gorgeous Jersey cream”
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						%img.img-responsive{:alt => "Dessert", :src => "images/cake.jpg", :align => "right"}/
				%hr/
		%section#ending
			.container-fluid.text-center
				%header
					%h1 
						%span.ending1 like 
						our plan?
					%a{:href => "https://www.expedia.com/Marmaris.d6054843.Destination-Travel-Guides", :target => "_blank"}
						%p 
							start 
							%span.ending2 your adventure
		/ jQuery (necessary for Bootstrap's JavaScript plugins)
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
		/ Include all compiled plugins (below), or include individual files as needed
		%script{:src => "js/bootstrap.min.js"}